* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}
.card {
  width: 1220px;
  max-width: 1200px;
  margin: 50px auto;
}

.login {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  width: 93;
  height: 23px;
  margin-bottom: 23px;
}

.des {
  font-weight: 400;
  font-size: 16px;
  color: #525252;
  line-height: 24px;
  margin-bottom: 24px;
}

.form{
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #F0EDFFCC;
  margin-bottom: 18px;
  padding:17px;
  border-radius: 16px;
  max-width: 364px;
}

.form input{
    border: none;
    outline: none;
    background-color: #F0EDFFCC;
}

.button{
    background-color: #3c27c5;
    border: none;
    padding: 17px 31px;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 24px;

}

.button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}



.href{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;    
    color: #525252;
    margin-bottom: 24px;
}

.href span{
    color: #1C1C1C;
    margin-top: 24px;
    font-weight: 700;
    font-size: 16px;    
}


.wrapper .google{
    max-width: 364px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 18px;
    border: 1px solid #F0EDFF;
    padding: 11px 7%;
    border-radius: 16px;
}


.wrapper .facebook{
    max-width: 364px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 18px;
    border: 1px solid #F0EDFF;
    padding: 11px 7%;
    border-radius: 16px;
}

.facegog{
    font-weight: 400;
    font-style: 12px;
    color: #1C1C1C;
    display: flex;

}

.facegog span{
    font-weight: 700;
    font-style: 12px;
    color: #1C1C1C;

}

#danger{
  display: none;
  color: red;
  text-align: center;
}

#open-site-title{
  display: none;
  color: yellowgreen;
  text-align: center;
}